<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script>
        (function($){
            listcontroller = function(id){
                var list_obj = $(id);
                var items = [];

                this.add = function(item){
                    items.push(item);
                    update_view();
                }

                this.removeByName = function(item){
                    for(x in items){
                        if(items[x]==item){
                            this.removeByIndex(x);
                        }
                    }
                }

                this.removeByIndex = function(index){
                    items.splice(index,1);
                    update_view();
                }

                function update_view(){
                    var item_col = "";
                    items.sort();
                    for (var x in items){
                        item_col += itemMarkup(items[x]);
                    }
                    list_obj.html(item_col);
                }

                function itemMarkup(item){
                    return "<li id="+item+">"+item+"</li>"
                }
            }

            chatcontroller = function(id){
                var chat_obj = $(id);
                var limit = 16;
                var chat_history = [];

                this.add = function(item){
                    chat_history.push(item);
                    update_view();
                }

                this.clear = function (){
                    chat_history = [];
                    update_view();
                }

                function update_view(){
                    var chat_col = "";
                    for (var x = 0; x < chat_history.length;x++){
                        chat_col += itemMarkup(chat_history[x]);
                    }
                    chat_obj.html(chat_col);
                }

                function itemMarkup(item){
                    return "<p>"+item+"</p>"
                }
            }
        })(jQuery);
    </script>
</head>
<body>
    <div class="container">
        <header><%= room_title %></header>
        <div id="userdetail">
            <span>Username:<input type="text"/></span>
            <button onClick="getUsername();">Init</button>
        </div>
        <div class="inner-container clearfix">
            <div class="chatpanel">
                <div class="chatwindow">
                </div>
                <div class="inputwindow">
                    <input id="chatinput" type="text">
                </div>
            </div>
            <ul class="userlist">
            </ul>
        </div>
        <footer>&copy; Webroom</footer>
    </div>
    <script>
        var username;
        (function(){
            var socket = io.connect();
            send = function(msg){
                var packet = {'msg':msg,'to':''};
                socket.emit("wbmsg",packet);
            };
            socket.on('wbmsg',function(packet){
                chatlist.add(packet['from']+" : "+packet['msg']);
            })

            socket.on('uname',function(uname){
                username=uname;
            })
        })();
        var userlist = new listcontroller(".userlist");
        var chatlist = new chatcontroller(".chatwindow");

        function getUsername(){
            var username = $("#userdetail input")
            initWebRoom(username.val());
        }

        $("#chatinput").on("keypress",function(e){
            if(e.which == 13){
                msg = $(this).val();
                $(this).val('');
                chatlist.add("You: "+ msg);
                send(msg);
            }
        })
    </script>
</body>
</html>