<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body>
    <div class="container">
        <header><%= room_title %></header>
        <div id="userdetail">
            <span>Username:<input type="text"/></span>
            <button onClick="getUsername();">Init</button>
        </div>
        <div class="inner-container clearfix">
            <div class="chatpanel">
                <div class="chatwindow">
                </div>
                <div class="inputwindow">
                    <input id="chatinput" type="text">
                </div>
            </div>
            <ul class="userlist">
            </ul>
        </div>
        <footer>&copy; Webroom</footer>
    </div>
    <script>
        var username;
        (function(){
            var socket = io.connect();
            send = function(msg){
                var packet = {'msg':msg,'to':'','time':new Date()};
                socket.emit("wbmsg",packet);
            };
            socket.on('wbmsg',function(packet){
                chatlist.add(packet);
            })

            socket.on('uname',function(uname){
                username=uname;
            })
        })();
        var userlist = new listcontroller(".userlist");
        var chatlist = new chatcontroller(".chatwindow");

        function getUsername(){
            var username = $("#userdetail input")
            initWebRoom(username.val());
        }

        $("#chatinput").on("keypress",function(e){
            if(e.which == 13){
                msg = $(this).val();
                $(this).val('');
                chatlist.add({'uname':'You','msg':msg});
                send(msg);
            }
        })
    </script>
</body>
</html>