<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body>
    <div class="container">
        <header><%= room_title %></header>
        <form class="form-horizontal" role="form" id="userdetail" onsubmit="return false;">
            <div class="form-group">
                <label for="Uname" class="col-xs-3 col-sm-4 control-label">Username</label>
                <div class="col-xs-9 col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" id="Uname" placeholder="Username">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" onclick="sendusername();">Set</button>    
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="inner-container clearfix">
            <div class="chatpanel">
                <div class="chatwindow"></div>
                <div class="inputwindow">
                    <input id="chatinput" type="text" class="form-control">
                </div>
            </div>
            <ul class="userlist">
            </ul>
        </div>
        <footer>&copy; Webroom</footer>
    </div>
    <script>
        var username;
        var userlist = new listcontroller(".userlist");
        var chatlist = new chatcontroller(".chatwindow");
        (function(){
            var socket = io.connect();
            send = function(msg){
                var packet = {'msg':msg,'to':'','time':new Date()};
                socket.emit("wbmsg",packet);
            };
            socket.on('wbmsg',function(packet){
                chatlist.add(packet);
            })

            socket.on('wbsys',function(packet){
                console.log(packet.msg);
            })

            socket.on('user list',function(list){
                userlist.set(list);
            })

            sendusername = function(){
                socket.emit("user new",{'uname':$("#Uname").val()});
                return false;
            }
        })();
        

        $("#chatinput").on("keypress",function(e){
            if(e.which == 13){
                msg = $(this).val();
                $(this).val('');
                chatlist.add({'from':'You','msg':msg});
                send(msg);
            }
        })
    </script>
</body>
</html>