@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

header,footer{
    text-align: center;
}

.container{
    min-width:320px;
}

.chatpanel{
    width:73%;
    float:left;
}

.userlist{
    @include box-shadow(gray 0 0 3px);
    @include border-radius(2px);
    float:right;
    width:25%;
    list-style-type: none;
    padding: 10px;

    li{
        padding:3px;
    }
}

.inner-container{
    margin: 20px auto;
}

.chatwindow{
    @include box-shadow(gray 0 0 3px);
    @include border-radius(2px);
    overflow: auto;
    padding:5px;
}

.inputwindow{
    margin-top: 20px;
    input{
        width:100%;    
    }
    width:100%;
}

@media (max-width: 768px) {
    .userlist{
        display:none;
    }

    .chatpanel{
        width:100%;
    }
}